<div class="min-h-screen bg-gradient-to-r from-white to-orange-200 p-8">
    <h1 class="text-3xl md:text-4xl font-semibold text-gray-800 mb-6 text-left">About Me</h1>
    
    <div class="flex flex-col items-center md:flex-row md:items-start mb-4 justify-center"> 
        <div class="mb-4 md:mb-0"> 
            <img src="assets/images/gradpic.jpg" alt="Anthony Obillo" class="w-32 h-32 md:w-56 md:h-56 rounded-full object-cover max-w-full h-auto"> 
        </div>
        <div class="max-w-5xl text-center md:text-left mt-5"> 
            <p class="text-base md:text-lg lg:text-xl text-gray-600 mb-4 ml-10">
                Hello! I’m Anthony Obillo, a passionate Software Engineer and Full-stack Developer dedicated to crafting dynamic web applications. I graduated cum laude from Bulacan State University with a Bachelor of Science in Information and Communications Technology. With a solid foundation in HTML, CSS, and Java, I specialize in modern frameworks like Angular for frontend and Spring Boot for backend services. I continually seek to enhance my skills and stay updated in the fast-paced software development field.
            </p>
        </div>
    </div>

    <h2 class="text-3xl md:text-4xl font-semibold text-gray-800 mt-6 mb-4 text-left">Skills</h2>
    
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        <div class="bg-gray-100 p-6 rounded-lg shadow-lg flex items-center transition-transform duration-300 hover:shadow-xl hover:bg-gray-200 transform hover:scale-105 justify-center">
            <img src="assets/images/svg/angular_logo.svg" alt="Angular Icon" class="w-12 h-12 mr-4">
            <div>
                <h3 class="text-lg md:text-xl font-semibold text-gray-800">Angular</h3>
                <p class="text-gray-600 mt-2">Skilled in developing single-page applications with Angular framework.</p>
            </div>
        </div>
        <div class="bg-gray-100 p-6 rounded-lg shadow-lg flex items-center transition-transform duration-300 hover:shadow-xl hover:bg-gray-200 transform hover:scale-105 justify-center">
            <img src="assets/images/svg/java_logo.svg" alt="Java Icon" class="w-12 h-12 mr-4">
            <div>
                <h3 class="text-lg md:text-xl font-semibold text-gray-800">Java</h3>
                <p class="text-gray-600 mt-2">Experienced in building dynamic web applications using Java.</p>
            </div>
        </div>
        <div class="bg-gray-100 p-6 rounded-lg shadow-lg flex items-center transition-transform duration-300 hover:shadow-xl hover:bg-gray-200 transform hover:scale-105 justify-center">
            <img src="assets/images/spring_logo.png" alt="Spring Boot Icon" class="w-12 h-12 mr-4">
            <div>
                <h3 class="text-lg md:text-xl font-semibold text-gray-800">Spring Boot</h3>
                <p class="text-gray-600 mt-2">Proficient in building RESTful APIs and microservices with Spring Boot.</p>
            </div>
        </div>
        
        <div class="bg-gray-100 p-6 rounded-lg shadow-lg flex items-center transition-transform duration-300 hover:shadow-xl hover:bg-gray-200 transform hover:scale-105 justify-center">
            <img src="assets/images/svg/mysql_logo.svg" alt="MySQL Icon" class="w-12 h-12 mr-4">
            <div>
                <h3 class="text-lg md:text-xl font-semibold text-gray-800">MySQL</h3>
                <p class="text-gray-600 mt-2">Experienced in managing and querying relational databases using MySQL.</p>
            </div>
        </div>

        <div class="bg-gray-100 p-6 rounded-lg shadow-lg flex items-center transition-transform duration-300 hover:shadow-xl hover:bg-gray-200 transform hover:scale-105 justify-center">
            <img src="assets/images/svg/html_logo.svg" alt="HTML Icon" class="w-12 h-12 mr-4">
            <div>
                <h3 class="text-lg md:text-xl font-semibold text-gray-800">HTML & CSS</h3>
                <p class="text-gray-600 mt-2">Solid understanding of web standards, accessibility, and responsive design.</p>
            </div>
        </div>
        
        <div class="bg-gray-100 p-6 rounded-lg shadow-lg flex items-center transition-transform duration-300 hover:shadow-xl hover:bg-gray-200 transform hover:scale-105 justify-center">
            <img src="assets/images/svg/git_logo.svg" alt="Git Icon" class="w-12 h-12 mr-4">
            <div>
                <h3 class="text-lg md:text-xl font-semibold text-gray-800">Git & GitHub</h3>
                <p class="text-gray-600 mt-2">Proficient in version control and collaboration using Git and GitHub.</p>
            </div>
        </div>
        
        <div class="bg-gray-100 p-6 rounded-lg shadow-lg flex items-center transition-transform duration-300 hover:shadow-xl hover:bg-gray-200 transform hover:scale-105 justify-center">
            <img src="assets/images/tailwindcss-icon.png" alt="Tailwind CSS Icon" class="w-12 h-12 mr-4">
            <div>
                <h3 class="text-lg md:text-xl font-semibold text-gray-800">Tailwind CSS</h3>
                <p class="text-gray-600 mt-2">Experienced in creating responsive designs with utility-first CSS framework.</p>
            </div>
        </div>

        <div class="bg-gray-100 p-6 rounded-lg shadow-lg flex items-center transition-transform duration-300 hover:shadow-xl hover:bg-gray-200 transform hover:scale-105 justify-center">
            <img src="assets/images/docker_icon.png" alt="Docker Icon" class="w-12 h-12 mr-4">
            <div>
                <h3 class="text-lg md:text-xl font-semibold text-gray-800">Docker</h3>
                <p class="text-gray-600 mt-2">Skilled in containerization and managing applications using Docker.</p>
            </div>
        </div>

        <div class="bg-gray-100 p-6 rounded-lg shadow-lg flex items-center transition-transform duration-300 hover:shadow-xl hover:bg-gray-200 transform hover:scale-105 justify-center">
            <img src="assets/images/vs-code.png" alt="VSCode Icon" class="w-12 h-12 mr-4">
            <div>
                <h3 class="text-lg md:text-xl font-semibold text-gray-800">Visual Studio Code</h3>
                <p class="text-gray-600 mt-2">Proficient in using VSCode for efficient development and debugging.</p>
            </div>
        </div>
    </div>
</div>
