<section class="py-32 bg-gradient-to-r from-white to-orange-200" id="contact">
  <h1 class="text-3xl md:text-4xl font-semibold text-gray-800 mb-6 text-left ml-10 ">Contact Details</h1>
  <div class="container mx-auto px-4">      
      <div class="flex flex-col md:flex-row">
          <div class="md:w-5/12 mb-8 md:mb-0">
              <div class="content">
                  <!-- Info-1 -->
                  <div class="info flex items-start mb-6 mt-5">
                      <i class="fas fa-mobile-alt text-2xl text-teal-600 mr-4" style="color: black;"></i>
                      <h4 class="text-lg font-medium">
                          PHONE: <br />
                          <span class="font-light">+63906-883-4427</span>
                      </h4>
                  </div>
                  <!-- GitHub Link -->
                  <div class="info flex items-start mt-4">
                      <i class="fab fa-github text-2xl text-teal-600 mr-4" style="color: black;"></i>
                      <h4 class="text-lg font-medium">
                          GITHUB: <br />
                          <a href="https://github.com/obilloa" target="_blank" class="font-light text-teal-600 hover:underline">github.com/obilloa</a>
                      </h4>
                  </div>
                  <!-- LinkedIn Link -->
                  <div class="info flex items-start mt-4">
                      <i class="fab fa-linkedin text-2xl text-teal-600 mr-4" style="color: black;"></i>
                      <h4 class="text-lg font-medium">
                          LINKEDIN: <br />
                          <a href="https://linkedin.com/in/obillo" target="_blank" class="font-light text-teal-600 hover:underline">linkedin.com/in/obillo</a>
                      </h4>
                  </div>
                  <!-- Info-2 -->
                  <div class="info flex items-start mt-4">
                      <i class="far fa-envelope text-2xl text-teal-600 mr-4" style="color: black;"></i>
                      <h4 class="text-lg font-medium">
                          EMAIL: <br />
                          <span class="font-light">obilloanthony07&#64;gmail.com</span>
                      </h4>
                  </div>
                  <!-- Info-3 -->
                  <div class="info flex items-start mt-4">
                      <i class="fas fa-map-marker-alt text-2xl text-teal-600 mr-4" style="color: black;"></i>
                      <h4 class="text-lg font-medium">
                          ADDRESS: <br />
                          <span class="font-light">Magsaysay Road, San Juan, San Miguel Bulacan</span>
                      </h4>
                  </div>
              </div>
          </div>

          <div class="md:w-7/12">
              <form>
                  <div class="flex flex-col md:flex-row mb-4">
                      <div class="md:w-1/2 mb-4 md:mr-4">
                          <input type="text" class="form-control w-full p-4 bg-gray-100 border border-gray-300 rounded-lg" placeholder="Name" />
                      </div>
                      <div class="md:w-1/2 mb-4">
                          <input type="email" class="form-control w-full p-4 bg-gray-100 border border-gray-300 rounded-lg" placeholder="Email" />
                      </div>
                  </div>
                  <input type="text" class="form-control w-full p-4 bg-gray-100 border border-gray-300 rounded-lg mb-4" placeholder="Subject" />
                  <textarea class="form-control w-full p-4 bg-gray-100 border border-gray-300 rounded-lg mb-4" rows="5" id="comment" placeholder="Message"></textarea>
                  <button class="w-full py-3 bg-orange-500 text-white font-bold rounded-lg hover:bg-orange-600" type="submit">Send Now!</button>
              </form>
          </div>
      </div>
  </div>
</section>
